.mb-5 {
	color: #F49696;
	font-weight: bold; 
}

.img-logo {
	width:15%;
	height:5%;
}

.text-label {
	margin-left: 15px;
	color: #563B49;
	font-weight: bold;
}

.navbar-custom {
	background-color: #F2AED2 !important;
}


/* footer layout responsive */
.red {
  color: #563B49 !important;
}

.color-h3 {
	color: #563B49 !important;	
}

footer {
  background-color: #F2AED2;
  padding: 40px 0;
  margin-top: 90px;
}

footer .footer-widget h3 {
  margin-bottom: 30px;
}

footer .contact-link {
  display: inline-block;
  width: 100%;
  color: #563B49;
}

footer .footer-social ul {
  padding-left: 0;
}

footer .footer-social ul li {
  list-style: none;
  float: left;
  padding: 0 10px;
}

footer .footer-social ul li:first-child {
  padding-left: 0;
}

footer .footer-social ul li a {
  font-size: 20px;
  color: #563B49;
}

footer .footer-social ul li a:hover {
  color: red;
}

footer .opening-time {
  padding-left: 0;
}

footer .opening-time li {
  list-style: none;
}

footer .opening-time li span {
  float: left;
  padding-right: 10px;
}

footer .opening-time li span .fa-times {
  color: red;
}

footer .opening-time li strong {
  color: red;
}

footer .media-body a {
  color: #563B49;
}

footer .media-body a:hover {
  color: red;
}

footer .media-body span {
  color: #563B49;
}

footer .images-gellary ul {
  padding-left: 0;
}

footer .images-gellary ul li {
  list-style: none;
  float: left;
  margin: 0 3% 2% 0;
  width: 31%;
  position: relative;
}

footer .images-gellary ul li:nth-child(3n) {
  margin: 0 0 1%;
}
/* footer layout responsive */



/* table responsive mobile */

table { 
  width: 100%; 
  border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { 
        border: 1px solid #ccc; 
    }
    
    td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
}

/* table responsive mobile */


/* intro animation nails app */

body {
  overflow: hidden; 
}
 
/* ini: Preloader */
 
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#FCB1EB; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.95s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.95s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.95s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}

/* intro animation nails app */
